# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tracker/src/CMakeCache.txt
tracker/src/CMakeFiles/
tracker/src/Makefile
tracker/src/cmake_install.cmake

