[submodule "ardrone_autonomy"]
	path = ardrone_autonomy
	url = https://github.com/AutonomyLab/ardrone_autonomy.git
[submodule "handDetection"]
	path = handDetection
	url = https://github.com/simena86/handDetectionCV.git
